$mainBlack: #353443;
$white: #FFFFFF;
$bg: #F7F8FB;
$bg2: #F4F4F4;
$bg3: #D4D9DD;
$bgGradient1: linear-gradient(to right, #672870 20%, #4FE0FF 100%);

$textDark: #343A3F;
$blue: #4888FF;
$violet: #672870;

$ff: 'Maza';
$ff2: 'TenorSans';
